__pycache__
/application/static/elements
/application/static/govuk_template
/build/zip
.webassets-cache
*.pyc
.DS_Store
.coverage
coverage.xml
test-reports/
/puppet/modules
*.lock
.librarian
.tmp
.idea/
htmlcov/
*.css.map
.sass-cache/
/build/elements-toolkit/govuk_modules
/build/govuk_modules/
/build/node_modules/
