{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}
    <div id="content">

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">Confirming...</h1>

          <form>
            <input type="hidden" name="auth_code" value="{{auth_code}}">
          </form>

          <p>
            Your mortgage deed is now being confirmed. This process may take a few
            moments to complete.
          </p>

          <p class="panel-indent">
            Please do not refresh this page, you will be notified when the deed has
            been successfully confirmed.
          </p>

        </div>
      </div>

    </div>

  </main>

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type=text/javascript src="{{ url_for('static', filename='landregistry/assets/javascript/confirming-deed.js') }}"> </script>
{% endblock %}
