{% set asset_path = '/static/govuk_template/' %}
{% set page_title = 'Sign your mortgage deed' %}
{% set assets_main = '/static/elements/main.css' %}

<link href="{{assets_main}}" media="screen" rel="stylesheet" type="text/css">

{% extends "base/govuk_base_template.html" %}

{% block content %}
<div class="main" id="content">
    <div class="grid-row">
        &nbsp;
    </div>

    <div class="grid-row">
        <p>Deed was not found for: {{deed_reference}}</p>
    </div>
</div>

{% endblock %}