{% extends "base/lr_base_layout.html" %}

{% block content %}
<div class="main" id="content">
    {{ super() }}
    <div>&nbsp;</div>
    <form id="enter-dob-form" action="/searchdeed/search" method="POST">

        <div class="form-group">
            <label class="form-label" for="borrower_token">Enter date of birth: </label>
            <input id="dob" class="form-control" type="text" name="dob">
            <input id="borrower_token" type="hidden" name="borrower_token" class="form-control" type="text" value="{{borrower_token}}">
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Search">
        </div>
    </form>
</div>

{% endblock %}
