{% extends "base/lr_base_layout.html" %}

{% block content %}
<head>
<link href="/static/landregistry/assets/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
</head>


<main id="content" role="main">

  {{ super() }}

  <h1 class="heading-large">
    <!-- <span class="heading-secondary">Sign your mortgage deed</span> -->
    Identity verified
  </h1>

  <div class="text verified-container">
    <p>
      Now you've verified your identity, you can view and sign your mortgage deed.  The steps below explain what happens next.
    </p>
  </div>
  <div class="text verified-container" >
    <ol class="list-plain">
      <li>
          <div class="icon-stack verified-bullets-fa">
            <i class="icon-circle icon-stack-base"></i>
            <span class="icon-stack verfied-bullet-numbers-fa" >1</span>
          </div>
          <div class="verified-bullets">
            <h3 class="heading-small">Read your mortgage details</h3>
            <p>You’ll need to check the details of your mortgage deed and read through the legal clauses.</p>
        </div>
      </li>
      <li>
          <div class="icon-stack verified-bullets-fa">
            <i class="icon-circle icon-stack-base"></i>
            <span class="icon-stack verfied-bullet-numbers-fa" >2</span>
          </div>
        <div class="verified-bullets">
          <h3 class="heading-small">Request a code</h3>
          <p>When you're ready to sign your mortgage deed, you'll need to request an authentication code.</p>
        </div>
      </li>
      <li>
          <div class="icon-stack verified-bullets-fa">
            <i class="icon-circle icon-stack-base"></i>
            <span class="icon-stack verfied-bullet-numbers-fa">3</span>
          </div>
        <div class="verified-bullets">
          <h3 class="heading-small">Use the code to sign your mortgage deed</h3>
          <p>Enter your code to sign the deed. Doing so means that you <b>don't need to sign a paper document</b>, or get your signature witnessed.</p>
        </div>
      </li>
    </ol>
  </div>
  <div class="text">
    <p>
      <form id="view-deed-form" action="/mortgage-deed" method="POST">
        <div class="form-group">
          <input id="borrower_token" type="hidden" name="borrower_token" class="form-control" type="text"
          <input id="borrower_token" type="hidden" name="borrower_token" class="form-control" type="text"
               value="{{ borrower_token }}">
          <input id="dob" type="hidden" name="dob" class="form-control" type="text"
               value="{{ dob }}">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>
    </p>
  </div>
</main>
{% endblock %}
