{% extends "base/lr_base_layout.html" %}

{% block content %}
  <head>
    <link href="/static/landregistry/assets/stylesheets/application.css" media="screen" rel="stylesheet"
          type="text/css">
  </head>


  <main id="content" role="main">

    {{ super() }}

    <h1 class="heading-xlarge">
      View your mortgage deed
    </h1>

    <div class="text verified-container">
      <p class="lede">
        Now you've signed in you can view an online version of your mortgage deed. You should:
      </p>
    </div>
    <div class="text verified-container">
      <ol class="list-plain">
        <li>
          <div class="icon-stack verified-bullets-fa">
            <i class="icon-circle icon-stack-base"></i>
            <span class="icon-stack verfied-bullet-numbers-fa">1</span>
          </div>
          <div class="verified-bullets">
            <h3 class="heading-small">Read your mortgage deed carefully</h3>
            <p>Compare the online version of the deed with the paper version you have received from your conveyancer.
              If you spot any mistakes you should let your conveyancer know.</p>
          </div>
        </li>
        <li>
          <div class="icon-stack verified-bullets-fa">
            <i class="icon-circle icon-stack-base"></i>
            <span class="icon-stack verfied-bullet-numbers-fa">2</span>
          </div>
          <div class="verified-bullets">
            <h3 class="heading-small">Confirm your mortgage deed is correct</h3>
            <p>If you are happy there are no mistakes, then you will need to request an authentication code to be sent
              to your mobile phone in order to confirm the deed is correct.</p>
          </div>
        </li>
        <li>
          <div class="icon-stack verified-bullets-fa">
            <i class="icon-circle icon-stack-base"></i>
            <span class="icon-stack verfied-bullet-numbers-fa">3</span>
          </div>
          <div class="verified-bullets">
            <h3 class="heading-small">Sign your paper mortgage deed</h3>
            <p>The online deed is not the legal mortgage. You should still sign and return your paper mortgage deed
              following the instructions you have from your conveyancer.</p>
          </div>
        </li>
      </ol>
    </div>
    <div class="text">
      <p>
        <a href="/mortgage-deed" class="button">Continue</a>
      </p>
    </div>
  </main>
{% endblock %}
