{% extends "base/lr_base_layout.html" %}

{% block content %}
<div class="main" id="content">
    {{ super() }}
    <div>&nbsp;</div>
    <h1 class="heading-small">What is your borrower token?</h1>
    <form id="search-deed-form" action="/searchdeed/enter-dob" method="POST">
      <p class="form-hint">For example, ABC123</p>
        <div class="form-group">
            <input id="borrower_token" class="form-control" type="text" name="borrower_token">
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Next">
        </div>
    </form>
</div>

{% endblock %}
