{% extends "base/lr_base_layout.html" %}

{% block content %}
<div class="main" id="content">
    {{ super() }}
    <div>&nbsp;</div>
    <form id="search-deed-form" action="/searchdeed/search" method="POST">

        <div class="form-group">
            <label class="form-label" for="borrower_token">Enter Borrower Token: </label>
            <input id="borrower_token" class="form-control" type="text" name="borrower_token">
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Search">
        </div>
    </form>
</div>

{% endblock %}
