{% extends "base/lr_base_layout.html" %}

{% block content %}
  <div class="main" id="content">
    {{ super() }}

    <h1 class="heading-xlarge">Your mortgage deed</h1>

    <div class="column-two-thirds">
      <article class="deed-document-bounds">
        <h2 class="heading-large">Digital Mortgage Deed</h2>
        <h3 class="heading-medium">Property </h3>
        <p itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  Address Line 1<br>
                </span>
          <span itemprop="addressLocality">Locality</span><br>
          <span itemprop="postalCode">PO57 CDE</span>
        </p>

        <dl class="definition-inline">
          <dt class="bold-text">Title number</dt>
          <dd>{{ deed_data.deed.title_number }}</dd>
        </dl>

        <h3 class="heading-medium">Lender</h3>
        <div class="text">
          <p>{{ deed_data.deed.lender.name }}<br/>
            {{ deed_data.deed.lender.address }}</p>
          <p>{{ deed_data.deed.lender.registration }}</p>
        </div>

        <h3 class="heading-medium">Borrower</h3>
        {% for borrower in deed_data.deed.borrowers %} <p class="bold-text">
          {{ borrower.forename }}
          {{ borrower.middle_name }}{% if borrower.middle_name %} {% endif %}{{ borrower.surname }}
        </p>
        {% endfor %}

        <div class="text">
          <h3 class="heading-small">Charging clause:</h3>
          <p>{{ deed_data.deed.charge_clause }}</p>

          <h3 class="heading-small">Additional provisions:</h3>
          <ol>
            {% for provision in deed_data.deed.additional_provisions %}
              <li>
                <p>{{ provision.description|safe }}</p>
              </li>
            {% endfor %}

          </ol>
        </div>

        <p class="text">
          <label class="heading-small" for="auth-code">Effective date and time</label>
        <p>This charge takes effect when the registrar receives notification from
          Pure Law that the charge is to take effect.</p>
        <p class="bordered-output-not-present">[Effective date and time will be shown here]</p>
        <label class="heading-small" for="signature">Borrower's electronic signature(s)</label>
        {% for borrower in deed_data.deed.borrowers %}
          <p class="bordered-output-not-present" id="signature{{ loop.index }}">[e-signature
            of {{ borrower.forename }}
            {{ borrower.middle_name }}{% if borrower.middle_name %} {% endif %}{{ borrower.surname }} goes
            here]</p>
        {% endfor %}
        <div class="form-group">
          <label class="heading-small" for="auth-code">Registrar's electronic signature</label>
          <p class="bordered-output-not-present" id="registrarsig">[Will be applied when the charge takes
            effect]</p>
        </div>
        <div class="text">
          <label>{{ deed_data.deed.md_ref }}</label>
        </div>
        </p>
      </article>
      <div class="text">
        <form action="/searchdeed">
          <input class="button" type="submit" value="Back">
        </form>
      </div>
    </div>

  </div>

{% endblock %}
