@import 'landregistry';

.verified-container{
  margin-top:30px;
  width: $half;
}

.verified-bullets{
  padding-left:60px;
  margin-bottom:30px;
}

.verified-bullets-img{
  float: left;
}

.verified-bullets-fa {
  float: left;
  font-size:27px;
}

.verfied-bullet-numbers-fa {
  font-family: 'nta';
  color:white;
}

.bordered-output-present{
  border: 1px solid #bfc1c3;
  padding: 4px;
  width: 350px;
}

.bordered-output-not-present{
  border: 1px solid #bfc1c3;
  padding: 4px;
  color: #6f777b;
  width: 350px;
}