@import 'landregistry';

.verified-container{
  margin-top:30px;
  width: $half;
}

.verified-bullets{
  padding-left:60px;
  margin-bottom:30px;
}

.verified-bullets-img{
  float: left;
}

.verified-bullets-fa {
  float: left;
  font-size:27px;
}

.verfied-bullet-numbers-fa {
  font-family: 'nta';
  color:white;
}

.awaiting-information{
  color: #6f777b;
}

.deed-form-ref {
  margin-top: ($gutter*2);
}

.deed-address-list {
  @extend li;
  list-style-type:none;
  padding-bottom: 20px;
}